<div class="container">
  <mat-card *ngIf="hero">
    <mat-card-content>
          <mat-card-title>{{ hero.name }} Details</mat-card-title>
          <div class="form-container">
              <mat-form-field>
                  <input matInput placeholder="Heroe ID" [readonly]="true" [(ngModel)]="hero.id"/>
              </mat-form-field>
              <mat-form-field color="primary">
                  <input matInput placeholder="Hero Name" [(ngModel)]="hero.name"/>
              </mat-form-field>
            </div>
      </mat-card-content>
      <button mat-raised-button (click)="goBack()" color="warn" >Go Back</button>
      <button mat-raised-button (click)="save()" >Save</button>
  </mat-card>
</div>
