.container {
    text-align: center;
    padding: 1rem;
}

.element_grid {
  border: 0.1rem dashed #ddd;
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  height: 100%;
  border-radius: 1rem;
}

.element_grid:hover {
  background-color: #ddd;
}
