@import "~@angular/material/theming";

.container {
    text-align: center;
    padding: 1rem;
}

.element_grid {
  background-color: #2196f3;
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
}

.element_grid:hover {
  background-color: gray;
}
