@import "~@angular/material/theming";

.container {
    text-align: center;
    padding: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
}
  
.form-container > * {
    width: 100%;
}
