@import "~@angular/material/theming";

.container {
    text-align: center;
    padding: 1rem;
  }

.mat-list-item {
    border-bottom: 1px solid #ddd
}

.mat-list-item:hover {
    background-color:#ddd;
} 

a {
    text-decoration: none;
}
  