.container {
    text-align: center;
    padding: 1rem;
}

.top {
    margin-bottom: 1rem;
}

.mat-list-item {
    border-bottom: 1px solid #ddd
}

.mat-list-item:hover {
    background-color:#ddd;
    background-color: rgba(103,58,183, 0.1);
} 

.hero_text {
    text-decoration: none;
    color: black;
}
  